body{
    font-family: 'special',cursive;
    background: #f5dbda;
}
.header_div
{
    background: #f5dbda;
    color: red;
}
.header_div p{
    font-family: 'Roboto',sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.copy_right_footer{
    position:fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5dbda;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}